h1 {
    font-size: 3rem;
    margin: .5rem;
}
h2{
    font-size: 1.5rem;
    margin: .3rem;
}

p{
    padding: 10px;
}

img {
    margin: 10px;
}

img, figcaption {
    margin: 10px;
}

/* centering technique */
.container {
    margin: auto;
    text-align: center;
}

img{
    border-radius: 10px;
    border: 10px solid black;
    box-sizing: border-box;
}